.button-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
    
  .button {
        color: black;
      font-size: 25px;
      padding: 15px 70px;
      border: solid 2px black;
      border-radius: 99999999px;/*長円にする*/
      text-decoration: none;
      transition: 0.4s;
  }
  
  .button:hover {
    color:white;
    background-color: black;
    transition: 0.4s;
  }